
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f4f4f4;
    }

    header {
        background-color: #440163;
        color: #fff;
        text-align: center;
        padding: 0.4%;
    }

    section {
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .product1 {
        border: 1px solid #ccc;
        border-radius: 8px;
        padding: 10px;
        margin: 10px;
        width: 350px;
        height: 660px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        background-color: #fff;
    }

    .product2 {
        border: 1px solid #ccc;
        border-radius: 8px;
        padding: 10px;
        margin: 10px;
        width: 350px;
        height: 660px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        background-color: #fff;
    }


    .product3 {
        border: 1px solid #ccc;
        border-radius: 8px;
        padding: 10px;
        margin: 10px;
        width: 350px;
        height: 660px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        background-color: #fff;
    }

    footer {
        background-color: #440163;
        color: #fff;
        text-align: center;
        
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }
    
    footer a {
        color: #fff;
        margin: 0 10px;
    }
  
 

